<ion-header>
  <ion-toolbar>
    <ion-button fill="clear" slot="start" (click)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
    <ion-title>Bolt</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-item style="cursor: pointer" (click)="locatePosition()">
        <ion-button fill="clear">
            <ion-icon slot="start" name="map"></ion-icon>
            Locate Position
        </ion-button>
      </ion-item>

<div class="row">
  <div id="mapId"></div>
</div>      

  
  <ion-button shape="round" expand="block" (click)="showConfirmAlert()">Iniciar Corrida</ion-button>


</ion-content>

